services:
  whoami:
    container_name: whoami
    image: traefik/whoami:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.${DOMAIN}`)"
    networks:
      - services
    restart: unless-stopped