services:
  qbittorrent:
    container_name: qbittorrent
    image: lscr.io/linuxserver/qbittorrent:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Bangkok
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - ./data:/config
      - /mnt/hdd/downloads:/downloads
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.${DOMAIN}`)"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=8080"
    ports:
      - "6881:6881"
      - "6881:6881/udp"
    networks:
      - frontend
      - backend
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

networks:
  frontend:
    external: true
  backend:
    external: true