services:
  qdrant:
    container_name: qdrant
    image: qdrant/qdrant:latest
    volumes:
      - ./data:/qdrant/storage
    ports:
      - "6333:6333"
    networks:
      - services
    restart: unless-stopped