services:
  openwebui:
    container_name: openwebui
    image: ghcr.io/open-webui/open-webui:dev
    volumes:
      - ./data:/app/backend/data
    environment:
      - REDIS_URL=redis://redis:6379/1
    extra_hosts:
      - "host.docker.internal:host-gateway"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.openwebui.rule=Host(`open-webui.${DOMAIN}`)"
      - "traefik.http.services.openwebui.loadbalancer.server.port=8080"
    networks:
      - frontend
      - backend
    restart: unless-stopped

networks:
  frontend:
    external: true
  backend:
    external: true