services:
  arcane:
    container_name: arcane
    image: ghcr.io/getarcaneapp/arcane:latest
    environment:
      - TZ=${TIMEZONE}
      - PUID=1000
      - PGID=1000
      - APP_URL=https://arcane.${DOMAIN}
      - ENCRYPTION_KEY=${ARCANE_ENCRYPTION_KEY}
      - JWT_SECRET=${ARCANE_JWT_SECRET}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      - /opt/docker:/opt/docker
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.arcane.rule=Host(`arcane.${DOMAIN}`)"
      - "traefik.http.routers.arcane.middlewares=pocket-id-auth@file"
      - "traefik.http.services.arcane.loadbalancer.server.port=3552"
    networks:
      - services
    restart: unless-stopped
