services:
  adguardhome:
    container_name: adguardhome
    image: adguard/adguardhome
    volumes:
      - ./config:/opt/adguardhome/conf:ro # Configuration files
      - ./data:/opt/adguardhome/work # Persistent data
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      # - "80:80/tcp" # AdGuard Home web UI (internal port 80)
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adguardhome.rule=Host(`adguard.${DOMAIN}`)"
      - "traefik.http.services.adguardhome.loadbalancer.server.port=3000" # Traefik forwards to internal port 80
    networks:
      - frontend
      - backend
    restart: unless-stopped

networks:
  frontend:
    external: true
  backend:
    external: true
